body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	background-color: #F2F3B5
}
main{
	 
}
a{      color: black;
	text-decoration: none;
}
.cd_img{
	width: 450px;
	height: 350px;
	margin: 15px;
	border: solid #AFAFA8 4px;
	border-radius: 3px;

}
.cd_img:hover{
	width: 455px;
	height: 355px;
	box-shadow: 10px 10px 10px black;
}
.ob_block{
	border-radius: 4px;
	display: table;
	background-color: #AFAFA8;
	padding: 6px;
	margin: auto;
	margin-top: 50px;
	margin-bottom:50px
}
.dick{
	font-size: 40px	
}
.word_img{
	background-color: white;
}
.word_img a{
	margin: 10px;
}
.form_nwe{
	background-color: #F3DCAA;
	height: 100px;
	width: 300px;
	margin-top:80px;
}
.main_trans{
	width: 400px;
	margin-top:120px;
}
.trans{
	display: table;
	margin:auto;
	height:auto;
	background-color: black;
}
#flek{
	padding: 10px
}
#today_words{
	font-size: 25px;
	color: #FFFFFF;
	text-shadow: 
		-0   -4px 0   #000000,
		 0   -4px 0   #000000,
		-0    4px 0   #000000,
		 0    4px 0   #000000,
		-4px -0   0   #000000,
		 4px -0   0   #000000,
		-4px  0   0   #000000,
		 4px  0   0   #000000,
		-1px -4px 0   #000000,
		 1px -4px 0   #000000,
		-1px  4px 0   #000000,
		 1px  4px 0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000,
		-2px -4px 0   #000000,
		 2px -4px 0   #000000,
		-2px  4px 0   #000000,
		 2px  4px 0   #000000,
		-4px -2px 0   #000000,
		 4px -2px 0   #000000,
		-4px  2px 0   #000000,
		 4px  2px 0   #000000,
		-3px -4px 0   #000000,
		 3px -4px 0   #000000,
		-3px  4px 0   #000000,
		 3px  4px 0   #000000,
		-4px -3px 0   #000000,
		 4px -3px 0   #000000,
		-4px  3px 0   #000000,
		 4px  3px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000;
}
#word_count{
	width: 300px;
	position: absolute;
right: 0;
}
#to_wrd {
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: 
		-0   -4px 0   #000000,
		 0   -4px 0   #000000,
		-0    4px 0   #000000,
		 0    4px 0   #000000,
		-4px -0   0   #000000,
		 4px -0   0   #000000,
		-4px  0   0   #000000,
		 4px  0   0   #000000,
		-1px -4px 0   #000000,
		 1px -4px 0   #000000,
		-1px  4px 0   #000000,
		 1px  4px 0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000,
		-2px -4px 0   #000000,
		 2px -4px 0   #000000,
		-2px  4px 0   #000000,
		 2px  4px 0   #000000,
		-4px -2px 0   #000000,
		 4px -2px 0   #000000,
		-4px  2px 0   #000000,
		 4px  2px 0   #000000,
		-3px -4px 0   #000000,
		 3px -4px 0   #000000,
		-3px  4px 0   #000000,
		 3px  4px 0   #000000,
		-4px -3px 0   #000000,
		 4px -3px 0   #000000,
		-4px  3px 0   #000000,
		 4px  3px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000;
}
form {
  width: auto;
  float: right;
  margin-right: 300px;
}
#www{
  width: 300px;
  height: 42px;
  padding-left: 15px;
  border-radius: 20px;
  border: 4px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  margin-top: 10px;
  transition: .3s linear;
}
/*#www:focus {
  width: 300px;
}*/
#ver{
	position:absolute;
	bottom:10; 
	right: 20
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
#footer_{ 
	margin:auto;
	/*width: 100%;*/
	font-size:201px ;
	color: #424411
}
footer{
	position:relative;
	display: flex;
	text-align: right;
	margin-top: 400px; 
	/*position: absolute;*/
	background-color: #BDBE2F;
	width: 100%;
	height: 300px
}
	#mob{
	margin: 10px 20px; 
		display: none;
	}
.search_anser{
	display: none;
	background-color: #FFF6DF;
	width: 250px;
	height: 62px;
	margin-left: 20px;
	border: 2px solid #324b4e;
	margin-bottom: 5px;
	transition: .3s;
}
.ser{
	width: 100%;
    padding: 6px;
    margin: 0 0;
    border-radius: 0;
}
@media screen and (max-width: 1205px) {  
	.cd_img{
	width: 350px;
	height: 250px;
	margin: 15px;
	border: solid #AFAFA8 4px;
	border-radius: 3px;
	} 
	#mob{
	margin: 10px 20px; 
		display: block;
	}
.cd_img:hover{
	width: 355px;
	height: 255px;
	box-shadow: 10px 10px 10px black;

	}

}
@media screen and (max-width: 817px) { 
	.cd_img{
	width: 250px;
	height: 150px;
	margin: 10px;
	border: solid #AFAFA8 4px;
	border-radius: 3px;
	
		} 
	#mob{
	margin: 10px 20px; 
		display: block;
	}
.cd_img:hover{
	width: 255px;
	height: 155px;
	box-shadow: 10px 10px 10px black;
	}
	#footer_{ 
	margin:auto;
	font-size:150px ;
	color: #424411
}footer{
	position:relative;
	display: flex;
	text-align: right;
	margin-top: 400px; 
	/*position: absolute;*/
	background-color: #BDBE2F;
	width: 100%;
	height: 300px}
}
@media screen and (max-width: 624px) {
	#footer_{ 
	margin:auto;
	font-size:100px ;
	color: #424411
}
	#mob{
	margin: 10px 20px; 
		display: block;
	}
footer{
	position:relative;
	display: flex;
	text-align: right;
	margin-top: 400px; 
	/*position: absolute;*/
	background-color: #BDBE2F;
	width: 100%;
	height: 300px
}
	#www{
  width: 180px;
  height: 42px;
  padding-left: 15px;
  border-radius: 20px;
  border: 4px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  margin-top: 10px;
  transition: .3s linear;
}
	.cd_img{
	width: 175px;
	height: 120px;
	margin: 5px;
	border: solid #AFAFA8 4px;
	border-radius: 3px;
	
		} 
		.cd_img:hover{
	width: 179px;
	height: 105px;
	box-shadow: 10px 10px 10px black;}
.search_anser{
	display: none;
	background-color: #FFF6DF;
	width: 130px;
	height: 62px;
	margin-left: 20px;
	border: 2px solid #324b4e;
	margin-bottom: 5px;
	transition: .3s;
}
}
