body{
	text-align: center;
	background-color: #F2F3B5
}
main{
	 
}
a{
	text-decoration: none;
}
.cd_img{
	width: 450px;
	height: 350px;
	margin: 15px;
	border: solid #AFAFA8 4px;
	border-radius: 3px;

}
.cd_img:hover{
	width: 455px;
	height: 355px;
	box-shadow: 10px 10px 10px black;
}
.ob_block{
	border-radius: 4px;
	width: 250px;
	background-color: #AFAFA8;
	padding: 6px;
	margin: auto;
	margin-top: 50px;
	margin-bottom:50px
}
.dick{
	font-size: 40px	
}
.word_img{
	background-color: white;
}
.word_img a{
	margin: 10px;
}
.form_nwe{
	background-color: #F3DCAA;
	height: 100px;
	width: 300px;
	margin-top:80px;
}
.main_trans{
	width: 400px;
	margin-top:120px;
}
.trans{
	width: 400px;
	height:80px;
	background-color: black;
}
#today_words{
	font-family: Arial;
	font-size: 25px;
	color: #FFFFFF;
	text-shadow: 
		-0   -4px 0   #000000,
		 0   -4px 0   #000000,
		-0    4px 0   #000000,
		 0    4px 0   #000000,
		-4px -0   0   #000000,
		 4px -0   0   #000000,
		-4px  0   0   #000000,
		 4px  0   0   #000000,
		-1px -4px 0   #000000,
		 1px -4px 0   #000000,
		-1px  4px 0   #000000,
		 1px  4px 0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000,
		-2px -4px 0   #000000,
		 2px -4px 0   #000000,
		-2px  4px 0   #000000,
		 2px  4px 0   #000000,
		-4px -2px 0   #000000,
		 4px -2px 0   #000000,
		-4px  2px 0   #000000,
		 4px  2px 0   #000000,
		-3px -4px 0   #000000,
		 3px -4px 0   #000000,
		-3px  4px 0   #000000,
		 3px  4px 0   #000000,
		-4px -3px 0   #000000,
		 4px -3px 0   #000000,
		-4px  3px 0   #000000,
		 4px  3px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000;
}
#word_count{
	width: 300px;
	position: absolute;
right: 0;
}
#to_wrd {
	font-family: Arial;
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: 
		-0   -4px 0   #000000,
		 0   -4px 0   #000000,
		-0    4px 0   #000000,
		 0    4px 0   #000000,
		-4px -0   0   #000000,
		 4px -0   0   #000000,
		-4px  0   0   #000000,
		 4px  0   0   #000000,
		-1px -4px 0   #000000,
		 1px -4px 0   #000000,
		-1px  4px 0   #000000,
		 1px  4px 0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000,
		-2px -4px 0   #000000,
		 2px -4px 0   #000000,
		-2px  4px 0   #000000,
		 2px  4px 0   #000000,
		-4px -2px 0   #000000,
		 4px -2px 0   #000000,
		-4px  2px 0   #000000,
		 4px  2px 0   #000000,
		-3px -4px 0   #000000,
		 3px -4px 0   #000000,
		-3px  4px 0   #000000,
		 3px  4px 0   #000000,
		-4px -3px 0   #000000,
		 4px -3px 0   #000000,
		-4px  3px 0   #000000,
		 4px  3px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000;
}
